<apex:page docType="html-5.0" standardStylesheets="false" showHeader="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false">
<html>
<head>
     <script type="text/javascript">
        
        var sPageURL = window.location.search.substring(1);
        //to change & amp; to &
        var elem = document.createElement('textarea');
        elem.innerHTML = sPageURL;
        sPageURL = elem.value;
        
        // function to get the query parameters;
        function getURLParameter (sParam) {
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] === sParam) {
                    return sParameterName[1];
                }
            }
            return null;
        }

        var redirectHost = "https://flightguide.klm.com";
        
        var country = getURLParameter('country') || 'gb';
        var language = getURLParameter('language') || 'en';
        var flightNumber = getURLParameter('flightNumber');
        var travelDate = getURLParameter('travelDate');
        var origin = getURLParameter('origin');
        var destination = getURLParameter('destination');

        var url = redirectHost + '/#/' + country + '/' + language + '/';
        
        if (flightNumber && travelDate) {
            url += flightNumber + '/' + travelDate
        }
        if (origin && destination) {
            url += '?origin=' + origin + '&destination=' + destination;
        }
        window.location.replace(url);
    </script>

</head>
<body></body>
</html>
</apex:page>