<apex:page controller="AFKLM_ChangeSPCmpnyTPNController" showHeader="false" sidebar="false">

<apex:stylesheet value="{!URLFOR($Resource.SocialCustomerServiceResources, 'SocialCustomerServiceResources/css/ui-standard.css')}"  />
<apex:stylesheet value="{!URLFOR($Resource.SocialCustomerServiceResources, 'SocialCustomerServiceResources/js/jquery.fancybox.css')}" />
<apex:includeScript value="{!URLFOR($Resource.SocialCustomerServiceResources, 'SocialCustomerServiceResources/js/jQuery/jquery.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SocialCustomerServiceResources, 'SocialCustomerServiceResources/js/jQuery/jquery.fancybox.js')}" />
    <apex:form >
    <b>Current company:</b>
    <apex:outputText value="{!currentCompany}" label="Current Company"/><br/>
    <b>Current Source(origin):</b>
    <apex:outputText value="{!currentTopicProfileName}" label="Current TopicProfileName"/><br/><br/>
    <apex:outputText rendered="{!RecordTypeName !=null}">
    <b>This Case is a</b><br/>
    <apex:outputText value="{!RecordTypeName}" label="Case record type"/><br/><br/>
    </apex:outputText>
    <b>Content of social post:</b><br/>
    <div class="border" id="bord">
    <apex:outputText value="{!Content}" label="Content"/><br/><br/>
    </div>
    <apex:panelGrid columns="2" width="100%">
    <apex:outputText >
    <b>1. Set Company to: </b><br/>
    <apex:selectList value="{!companyName}" size="1" id="selectCompany" onchange="rerenderOutPanel();"> <!--  onchange="rerenderOutPanel();"--> 
        <apex:selectOptions value="{!CompanyNames}"/> 
    </apex:selectList>
    <br/><br/>
    <apex:actionFunction name="rerenderPanel" rerender="outPanel"/>
    <apex:outputPanel id="outPanel">
    <b>2. Set Source(origin) to:</b><br/>
    <apex:selectList value="{!selectedTopicProfile}" size="10" id="selectTopicProfile" >  
        <apex:selectOptions value="{!TopicProfileNames}"/>
    </apex:selectList>
    </apex:outputPanel><br/><br/>
    <apex:outputText rendered="{!RecordTypeName !=null}">
    <b>3. Set Case to:</b><br/> 
    <apex:selectList value="{!selectedRecordType}" size="1" id="selectRecordType">  
        <apex:selectOptions value="{!RecordTypes}"/>
    </apex:selectList>
    <br/><br/>
    
    </apex:outputText>
    <apex:PageMessages showDetail="true"/>
    </apex:outputText>
    <apex:outputText >
    <b>How to use this?</b><br/>
    1. Choose correct "Company", KLM or AirFrance<br/>
    2. Choose correct "Source": <br/>
    Read the content of the social post and based on this make a choice e.g. @AirFrance choose SCS airfrance...<br/>
    <apex:outputText rendered="{!RecordTypeName !=null}">
    3. If needed set “Case” to KLM case or AirFrance case.<br/>
    4. Click on "Change Company" button and save changes.
    </apex:outputText>
    <apex:outputText rendered="{!RecordTypeName == null}">
    3. Click on "Change Company" button and save changes.
    </apex:outputText>
    <br/><br/><b>DON’T FORGET TO PRESS ON RELOAD AFTER THIS WINDOW IS CLOSED!</b>
    </apex:outputText>
    </apex:panelGrid>
    <apex:outputText rendered="{!RecordTypeName !=null}">
    <apex:inputCheckbox value="{!updateCaseRecType}" id="checkedCheckbox"/> YES, I'm sure I want to update the case as well.
    </apex:outputText>
    <apex:commandButton action="{!changeSocialPost}" title="Change company" value="Change Company" onclick="return check();"/> <!-- onclick="return check();" -->
    </apex:form>  
<script type="text/javascript">
    $(document).ready(function() {
        $(".fancybox").fancybox(); 
             
    });

</script>   

<script type="text/javascript">
    function rerenderOutPanel(){
        rerenderPanel();
    }
    
    function alrtMessage(){
        alert('Save action');
        check();
        
        //-----------------------
        onclick="return alrtMessage();"
        }

    
    function checkCompany(){
        var selected_option = $("[id$='selectTopicProfile'] option:selected").val();
        alert(selected_option);
        //selectedTopicProfile = $("[id$='selectTopicProfile'] option:selected").val();
        }
    
    function check(){
    //$("[id$='txtTitle']")
        var selected_recordType = $("[id$='selectRecordType'] option:selected").val();
        var selected_company = $("[id$='selectCompany'] option:selected").val();
        var selected_option = $("[id$='selectTopicProfile'] option:selected").val();
        //var checkbox = $("[id$='checkedCheckbox']".checked);
        var checkbox = $("[id$='checkedCheckbox']").is(':checked');   
        
        
        
        //var selOption = selected_option;
        
        if(selected_option !== undefined){
            if(checkbox == true){
            //01220000000UYzAAAW ==> KLM Case  //;01220000000V474AAC ==> AirFrance Case
                if(selected_company == "KLM" && selected_recordType == "01220000000V474AAC"){
                    alert('You can not select AirFrance Case for KLM company');
                    return false;
                }
                
                if(selected_company == "AirFrance" && selected_recordType == "01220000000UYzAAAW"){
                    alert('You can not select KLM Case for AirFrance company');
                    return false;
                }
           }
                
            javascript:parent.$.fancybox.close();
            
        } else {
            alert('Please select Company and Topic Profile Name');
            return false;
        }

        return true;
    }
</script>
</apex:page>