<!-- 
 @Date - 3/1/2014
 @Author - Stevano Cheung
 @Description - 
    Knowledge and Customer API page inside the console for the Social Customer Service.
 @StandardController - "Case"
 @extensions - N/A
 TODO: fix css in static resources and some italic / bold stuff.
 -->

<apex:page standardController="Case">

    <!-- SCH: Even Canvas doesn't work -->
    <!-- div>
        <apex:canvasApp applicationName="SCS_KnowledgeIntegratedFrame"/>
    </div-->
    
    <!-- SCH: Works to search and attach, but for opening use the inner frame of the "Social Post" article. 
    -->
    <!--apex:iframe height="300px" src="https://cs17.salesforce.com/knowledge/knowledgeHome.apexp?id={!case.id}&isdtp=vw&inContextPane=true"/-->
    <apex:iframe height="300px" src="https://emea.salesforce.com/support/console/CaseArticleWidget.apexp?id={!case.id}&isdtp=vw"/>
    <apex:iframe src="/apex/SCS_MyTest?isdtp=vw" />
</apex:page>