<apex:page standardController="Account" extensions="AFKLM_SCS_CustomerFlightExtension" showHeader="false" sidebar="false">
<apex:stylesheet value="{!URLFOR($Resource.SocialCustomerServiceResources, 'SocialCustomerServiceResources/css/ui-standard.css')}"  />
<style>
.activeTab {
    background-color:white;
    color:black;
    background-image:none;
}

.inactiveTab {
    background-color:#2FB3E5; 
    color:white; 
    background-image:none;
}

.bb td, .bb th {
     border-bottom: 1px solid black !important;
}
</style>
<br />
<b>Customer ID: </b> <outputField>{!CustomerId}</outputField>
    <apex:tabPanel switchType="client" selectedTab="today" id="theTabPanel" tabClass="activeTab" inactiveTabClass="inactiveTab" width="95%">
        <apex:tab label="Past Flights" name="past" id="tabReservations" labelWidth="width/3" styleclass="activeTab">
                <div class="borderCFlights"><div class="flyingBlueDiv"><p align="center"><font size="3">Past flights of the customer</font></p></div></div>
                <table border="0">
                    <!-- apex:repeat value="{!PastDestinationRouteList}" var="reservationKeyPast" -->
                    <apex:repeat value="{!PastListOrdered}" var="reservationKeyPast">                    
                        <!-- tr class="{!IF(MOD(RowBackground[reservationKey],2)==1,'','altRow')}"-->
                            <tr><td>&nbsp;</td></tr>
                            <tr class="bb">
                                <td><div class="flyingBlueDiv"><b>E-Ticket</b></div></td>
								<td>
		                        	<div class="flyingBlueFlightsPnr"><apex:outputText value="{!PnrList[reservationKeyPast]}" /></div>
								</td>
                            </tr>
                            <tr>
                                <td><div class="flyingBlueFlightsPnr">PNR</div></td> 
                                <td><apex:outputText value="{!reservationKeyPast}"/></td>
                            </tr>
                            <tr>
                                <td><div class="flyingBlueFlightsPnr">Flight Number</div></td> 
                                <td><apex:outputText value="{!FlightNumberList[reservationKeyPast]}" /></td>
                            </tr>
                            <!-- Hide Cabin class --> 
                            <!-- tr>
                                <td><div class="flyingBlueFlightsPnr">Cabin Class</div></td> 
                                <td><apex:outputText value="{!CabinClassList[reservationKeyPast]}" /></td>
                            </tr-->
                            <tr>
                                <td><div class="flyingBlueFlightsPnr">Destination route</div></td> 
                                <td><apex:outputText value="{!PastDestinationRouteList[reservationKeyPast]}" /></td>
                            </tr>
                            <tr>
                                <td><div class="flyingBlueFlightsPnr">Departure date</div></td> 
                                <td><apex:outputText value="{!DepartureDate[reservationKeyPast]}" /></td>
                            </tr>
                            <tr class="bb">
                                <td><div class="flyingBlueFlightsPnr">Arrival date</div></td> 
                                <td><apex:outputText value="{!ArrivalDateList[reservationKeyPast]}" /></td>
                            </tr>
                    </apex:repeat>
            </table>
        </apex:tab>
    
        <apex:tab label="Today Flights" name="today" id="tabTwo" labelWidth="width/3" styleclass="activeTab">
            <div class="borderCFlights"><div class="flyingBlueDiv"><p align="center"><font size="3">Today flights of the customer</font></p></div></div>
            <table border="0">
                    <!-- apex:repeat value="{!TodayDestinationRouteList}" var="reservationKeyToday" -->
                    <apex:repeat value="{!TodayListOrdered}" var="reservationKeyToday">                    
                        <!-- tr class="{!IF(MOD(RowBackground[reservationKey],2)==1,'','altRow')}"-->
                            <tr><td>&nbsp;</td></tr>
                            <tr class="bb">
                                <td><div class="flyingBlueDiv"><b>E-Ticket</b></div></td> 
                                <td>
									<div class="flyingBlueFlightsPnr"><apex:outputText value="{!PnrList[reservationKeyToday]}" /></div>
								</td>
                            </tr>
                            <tr>
                                <td><div class="flyingBlueFlightsPnr">PNR</div></td> 
                                <td><apex:outputText value="{!reservationKeyToday}"/></td>
                            </tr>
                            <tr>
                                <td><div class="flyingBlueFlightsPnr">Flight Number</div></td> 
                                <td><apex:outputText value="{!FlightNumberList[reservationKeyToday]}" /></td>
                            </tr>
                            <!-- Hide Cabin class --> 
                            <!-- tr>
                                <td><div class="flyingBlueFlightsPnr">Cabin Class</div></td> 
                                <td><apex:outputText value="{!CabinClassList[reservationKeyToday]}" /></td>
                            </tr-->
                            <tr>
                                <td><div class="flyingBlueFlightsPnr">Destination route</div></td> 
                                <td><apex:outputText value="{!TodayDestinationRouteList[reservationKeyToday]}" /></td>
                            </tr>
                            <tr>
                                <td><div class="flyingBlueFlightsPnr">Departure date</div></td> 
                                <td><apex:outputText value="{!DepartureDate[reservationKeyToday]}" /></td>
                            </tr>
                            <tr class="bb">
                                <td><div class="flyingBlueFlightsPnr">Arrival date</div></td> 
                                <td><apex:outputText value="{!ArrivalDateList[reservationKeyToday]}" /></td>
                            </tr>
                    </apex:repeat>
                    
                    
            </table>
        </apex:tab>
        <apex:tab label="Upcoming Flights" name="upcoming" id="tabThree" labelWidth="width/3" styleclass="activeTab">
            <div class="borderCFlights"><div class="flyingBlueDiv"><p align="center"><font size="3">Upcoming flights of the customer</font></p></div></div>
            <table border="0">
                    <!-- apex:repeat value="{!FutureDestinationRouteList}" var="reservationKeyUpcomming" -->
                    <apex:repeat value="{!UpcomingListOrdered}" var="reservationKeyUpcomming">
                        <!-- tr class="{!IF(MOD(RowBackground[reservationKey],2)==1,'','altRow')}"-->
                            <tr><td>&nbsp;</td></tr>
                            <tr class="bb">
                                <td><div class="flyingBlueDiv"><b>E-Ticket</b></div></td> 
                                <td>
									<div class="flyingBlueFlightsPnr"><apex:outputText value="{!PnrList[reservationKeyUpcomming]}" /></div>
                                </td>
                            </tr>
                            <tr>
                                <td><div class="flyingBlueFlightsPnr">PNR</div></td> 
                                <td><apex:outputText value="{!reservationKeyUpcomming}"/></td>
                            </tr>
                            <tr>
                                <td><div class="flyingBlueFlightsPnr">Flight Number</div></td> 
                                <td><apex:outputText value="{!FlightNumberList[reservationKeyUpcomming]}" /></td>
                            </tr>
                            <!-- Hide Cabin class --> 
                            <!-- tr>
                                <td><div class="flyingBlueFlightsPnr">Cabin Class</div></td> 
                                <td><apex:outputText value="{!CabinClassList[reservationKeyUpcomming]}" /></td>
                            </tr -->
                            <tr>
                                <td><div class="flyingBlueFlightsPnr">Destination route</div></td> 
                                <td><apex:outputText value="{!FutureDestinationRouteList[reservationKeyUpcomming]}" /></td>
                            </tr>
                            <tr>
                                <td><div class="flyingBlueFlightsPnr">Departure date</div></td> 
                                <td><apex:outputText value="{!DepartureDate[reservationKeyUpcomming]}" /></td>
                            </tr>
                            <tr class="bb">
                                <td><div class="flyingBlueFlightsPnr">Arrival date</div></td> 
                                <td><apex:outputText value="{!ArrivalDateList[reservationKeyUpcomming]}" /></td>
                            </tr>
                    </apex:repeat>
            </table>
        </apex:tab>
    </apex:tabPanel>
</apex:page>